
#top-menu-bar{
  background-color: rgb(245, 245, 245);
  width: 100vw;
}
#top-menu {
  background-color: rgb(245, 245, 245);
  border: none;
  box-shadow: none;
}

@keyframes toWhite {
  from {color: black}
  to {color: white}
}
.hover-to-white:hover {
  color: white;
  animation-name: toWhite;
  animation-duration: 1s;
}
.hover-to-white:hover .to-white-child {
  color: white;
  animation-name: toWhite;
  animation-duration: 1s;
}

.subitem {
  background-color: rgb(245, 245, 245);
}
.subitem:hover {
  background-color: rgb(245, 245, 245);
}
.red-hover:hover {
  color: rgb(164, 68, 68);
}

.footer {
  padding-top: 10px;
  background-color: rgb(41, 41, 41);
}

.white {
  color: white;
}